@tailwind base;
@tailwind components;
@tailwind utilities;

/* Definition of the design system. All colors, gradients, fonts, etc should be defined here. 
All colors MUST be HSL.
*/

@layer base {
  :root {
    --background: 142 69% 88%;
    --foreground: 142 20% 20%;

    --card: 0 0% 100%;
    --card-foreground: 142 20% 20%;

    --popover: 0 0% 100%;
    --popover-foreground: 142 20% 20%;

    --primary: 159 64% 52%;
    --primary-foreground: 0 0% 100%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 142 20% 20%;

    --muted: 142 40% 90%;
    --muted-foreground: 142 20% 50%;

    --accent: 46 100% 77%;
    --accent-foreground: 142 20% 20%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 100%;

    --border: 142 30% 85%;
    --input: 159 64% 52%;
    --ring: 159 64% 52%;

    --radius: 1rem;
    
    --dialpad-bg: 142 30% 92%;
    --dialpad-text: 142 20% 35%;

    --sidebar-background: 0 0% 98%;

    --sidebar-foreground: 240 5.3% 26.1%;

    --sidebar-primary: 240 5.9% 10%;

    --sidebar-primary-foreground: 0 0% 98%;

    --sidebar-accent: 240 4.8% 95.9%;

    --sidebar-accent-foreground: 240 5.9% 10%;

    --sidebar-border: 220 13% 91%;

    --sidebar-ring: 217.2 91.2% 59.8%;
  }

  .dark {
    --background: 142 50% 15%;
    --foreground: 142 20% 90%;

    --card: 142 50% 20%;
    --card-foreground: 142 20% 90%;

    --popover: 142 50% 20%;
    --popover-foreground: 142 20% 90%;

    --primary: 159 64% 52%;
    --primary-foreground: 0 0% 100%;

    --secondary: 142 30% 25%;
    --secondary-foreground: 142 20% 90%;

    --muted: 142 30% 25%;
    --muted-foreground: 142 20% 65%;

    --accent: 46 100% 77%;
    --accent-foreground: 142 20% 20%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 100%;

    --border: 142 30% 30%;
    --input: 159 64% 52%;
    --ring: 159 64% 52%;
    
    --dialpad-bg: 142 30% 25%;
    --dialpad-text: 142 20% 80%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
